.react-select__control {
  border: none;
  border-width: 0px;
}

.react-select__value-container {
  gap: 5px;
  border: none;
  outline: none;
  border-width: 0px;
  margin-left: 0.5rem;
  background-color: #191919;
  border-radius: 1rem !important;
}

.react-select__multi-value {
  display: flex;
  font-weight: 500;
  padding: 2px 10px;
  align-items: center;
  border-radius: 1rem !important;
}

.react-select__single-value {
  display: flex;
  font-size: 14px;
  color: #efe0e0 !important;
}

.react-select__multi-value__remove {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  align-items: center;
  padding: 5px !important;
  justify-content: center;
  border-radius: 50% !important;
  background-color: #191919 !important;
}

.react-select__multi-value__remove:hover {
  opacity: 1;
  background-color: #c63535 !important;
}

.react-select__indicators {
  border: none;
  cursor: pointer;
  border-width: 0px;
  background-color: #191919;
}

.react-select__menu {
  border: none;
  cursor: pointer;
  border-width: 0px;
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 1rem !important;
  background-color: #191919 !important;
  @apply backdrop-blur-lg !important;
}

.react-select__menu-list {
  border: none;
  cursor: pointer;
  border-width: 0px;
  border-radius: 1rem;
  padding: 0 !important;
  @apply backdrop-blur-lg !important;
}

.react-select__option {
  cursor: pointer;
  border-width: 0px;
  font-size: 15px !important;
  padding-left: 1rem !important;
  background-color: #191919 !important;
  border-bottom: 0.0625rem solid rgb(65, 61, 61);
  @apply backdrop-blur-lg !important;
}
.react-select__option:hover {
  cursor: pointer;
  background-color: #383131 !important;
  @apply backdrop-blur-lg !important;
}

.react-select__control {
  display: flex;
  cursor: default;
  min-height: 38px;
  padding: 10px 5px;
  position: relative;
  align-items: center;
  transition: all 100ms;
  outline: 0 !important;
  border: none !important;
  -webkit-transition: all 100ms;
  border-radius: 1rem !important;
  background-color: #191919 !important;
}

.Toastify__toast {
  justify-content: center !important;
  min-height: fit-content !important;
}

.Toastify__toast-container {
  width: fit-content !important;
}

.Toastify__toast--warning,
.Toastify__toast--success,
.Toastify__toast--error {
  border-radius: 40px !important;
  min-height: fit-content !important;
}
.toastBody {
  font-size: 0.875rem !important;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.Toastify__progress-bar--wrp {
  visibility: hidden !important;
}
.toastProgress {
  background: inherit !important;
  visibility: hidden;
}
